<form ng-submit="add_keyword()">
   <div class="text-center">
      <input type="text" id="kwd-input" ng-model="keyword" name="kwd-add" placeholder="Add keyword..."/>
      <input type="submit" id="add-kwd-submit" value="Add"/>
      <button ng-click="search_influencers()" class="btn-primary">
         Search
      </button>

      <div>
         <a href="" ng-click="clear_results()">Clear results</a>
      </div>

      <div class="keywords">
         <ul>
            <li class="keyword" ng-repeat="kwd in keywords_list">
               {{kwd}} <a href="" ng-click="del_keyword(kwd)">X</a>
            </li>
         </ul>
      </div>
   
      <h4>Found {{influencers.length}} influencers</h4>
      <div class="influencers row">
        <div class="span1"></div>
        <div class="span1" ng-repeat="inf in influencers">
            <img width="48" height="48" ng-src="{{inf.thumbnail_url}}"/> <br/>
            {{inf.name}}
        </div>
        <div class="span1"></div>
      </div>
      
      <button ng-click="search_alchemy()" ng-show="influencer_post_fetch_count==10" class="btn-primary">
        Entity Extraction
      </button>
      
      <div class="influencers row">
        <div class="span1"></div> 
        <div class="span1" ng-repeat="inf in influencers" style="width:75px;">
            <div ng-repeat="k in inf.keyword_extractions">
               {{k}}<br/>
            </div>
        </div>
        <div class="span1"></div>
      </div>
   </div>

   <div class="post_previews">
      <ul>
         <li class="post_preview" ng-repeat="preview in post_previews">
            <table>
               <tr>
                  <td colspan="2"><h4>{{preview.title}}</h4></td>
               </tr>
               <tr>
                  <td><img width="64" height="64" ng-src="{{preview.thumbnail_url}}" alt=""/></td>
                  <td>{{preview.description}}</td>
               </tr>
            </table>
         </li>
      </ul>
   </div>

</form>
